input{
  width:370px;
  height:35px;
  }
  #note {
    background-color: #00FFFF;
    color: black;
    width: 100%;


  }





  #nxt{
  margin-left:188px;
  }

  form{
  margin-left: -70px;

  }


    #border {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
  }

  #save{
  font-family: "san-serif";
  }

  #successModal{
    background-color:#90EE90;
    color:black;
  }

  #errorModal{
    color:black;
  }

  .btn{
  font-family: "san-serif";
  }
